<% @Waters.each do |water| %>
<div style="float:left; width:30%; margin-left: 20px; margin-right: 20px; text-align: center;">
   <a href="/Water/<%= water.id %>"><img src="<%= water.url %>" alt="" width=100%;></a>
  
</div>

<% end %>